body{
	padding-left: 11em;									/*hvor langt ut fra venstre siden body skal være*/
	color: #00665E ;									/*farge på tekst og bakgrunn*/
    background-color: #5DCEC6;
	font-family: Georgia, "Times New Roman",			/*tekstfont type*/
          Times, serif;
}

 h1 {
    font-family: Helvetica, Geneva, Arial,				/*tekstfont type på overskrift*/
          SunSans-Regular, sans-serif 
}

 ul.navbar{
	list-style-type: none;								/*fjerner alt av punkter,  etc på listen*/
    padding: 0;											/*plassen mellom elementet og rammen rundt det*/
    margin:	0;
    position: absolute;									/*fast position i forhold til elementet over i koden*/
    top: 2em;											/*plassering utifra venstre hjørne*/
    left: 1em;		
    width: 9em 											/*bredde på elementet*/
}

ul.navbar li {
    background: white;									/*bakgrunnsfarge for hver knapp*/
    margin: 0.5em 0;									/*plassen mellom elementet og rammen rundt det*/
    padding: 0.3em;
    border-right: 1em solid black 						/*svart boks på høyre side av knapp*/
}
  
  ul.navbar a {
    text-decoration: none								/*ingen spesiel dekoration på skriften på knappene*/
}
  
  a:link {
    color: black 										/*farge på skrift knapp før du trykker/har trykket*/
}
  
  a:visited {
    color: #00665E										/*farge på skrift knapp etter å ha trykket*/
}

address {
    margin-top: 1em;									/*mellomrom mellom elementets ramme og omligende elementer*/			
    padding-top: 1em;									/*mellomrom mellom elementets ramme og elementene inni*/
    border-top: solid									/*linje over addressen og type linje*/
}